* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color:  black	;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    font-size: 3rem;
    margin-bottom: 2rem;
	  font-weight: bold;
    color: white;
font-family: sans-serif;    text-align: center;
  text-shadow: 2px 2px black;

}

.outer {
    background: #F5FFFA;
    height: 420px;
    width: 317px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputDiv {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    width: 90%;
    height: 70%;
    background: black ;
    cursor: text;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
}

.keyboardDiv {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyOutLayer {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}
small {
    font-size: .9rem;
}
button.btn {
    background: black;
    outline: none;
    border: none;
        border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 500;
 color:white;
    box-shadow: -3px 4px 6px 1px #504f4f, -2px -2px 3px 0px #504f4f;
    cursor: pointer;
}

@media (max-width:600px) {
    .container h1{
        font-size: 2.8rem;
    }
    .outer{
        height: 63%;
        width: 320px;
    }
}
@media (max-width:430px) {
    .outer{
        height: 63%;
        width: 90%;
    }
}